/* ------ HOOFDMENU ------ */

#nav
{
    height: 35px;
    margin: 0px;
    padding: 0px;
    padding-left: 30px;
    display: block;
    background: url('../images/bg-menu-top.gif') 0px -55px;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
    z-index: 50;
    font-size: 11px;
}

#nav ul
{
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 50;
}

#nav ul li
{
    width: auto;
    margin: 0px;
    padding: 0px;
    position: relative;
    float: left;
    display: inline;
    text-decoration: none;
    z-index: 50;
}

#nav ul li a
{
    width: auto;
    height: 35px;
    display: block;
    margin: 0px;
    padding: 0px;
    padding: 0px 15px 0px 15px;
    line-height: 35px;
    font-size: 12px;
    font-weight: bold;
    background: #0000ff url('../images/bg-menu-top-li.gif') 0px -55px;
    color: #FFFFFF;
    text-decoration: none;
}

#nav ul li a:hover,
#nav ul li a.hover
{
    background: url(../images/bg-menu-top-li-active.gif) 0px -55px;
    color: #ffffff;
    cursor: pointer;
}

/* same as the above, but internet explorer < 7 chokes if we add it to the above */
#nav ul li:hover > a
{
    background: url(../images/bg-menu-top-li-active.gif) 0px -55px;
    color: #ffffff;
    cursor: pointer;
}

#nav ul ul
{
    display: none;
    left: 0px;
    top: 35px;
    width: 120px;
    position: absolute;
    background: #e9e9e9;
}

#nav ul li:hover ul
{
    display: block;
    position: absolute;
    top: 35px;
    left: 0;
}

#nav ul ul li a
{
    font-size: 11px;
    font-weight: normal;
    display: block;
    float: left;
    width: 120px;
    height: 25px;
    height: auto;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 25px;
    color: #003e9f;
    background: url(../images/bg-menu-sub-left.gif) left  no-repeat;
}


#nav ul ul ul,
#nav ul ul ul ul
{
    display: none;
    left: 142px;
    top: 0px;
    width: 120px;
    position: absolute;
}

#nav ul li:hover ul ul,
#nav ul li:hover ul ul ul
{
    display: none;
}

#nav ul ul li:hover ul,
#nav ul ul ul li:hover ul
{
    display: block;
    left: 142px;
    top: 0px;
}

#nav ul ul li
{
    display: block;
    float: left;
    top: 0;
    height: auto;
}

li>ul {
    top: auto;
    left: auto;
}

#nav li.separator div
{
    height: 0px;
    width: 142px;
    border-bottom: 1px dashed #96c7f4;
}